.custom-text{
    border: 1px solid red;
    width: 100%;
}
.custom-input{
    border: 1px solid grey;
}
.btn{
   
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    background-color: blue;
    color: antiquewhite;
}